@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
/*Oinarrizko estiloa orri guztientzat*/
:root{
    --bg-fondo: #f5f1c7;
    --bg-header: #b09765;
    --bg-header-menu: #6e8952;
    --bg-header-menu-options: #6e8952;
    --text-color-dark: #fff; 
}

/*HEADER*/
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: sticky;
    z-index: 1000;
    top:0;
    background-color: var(--bg-header);

    a{
        text-decoration: none;
        color: var(--text-color-dark);
    }

    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:var(--bg-header-menu);
        width: 100%;
        overflow-y: hidden;

        #hamburger_menu {
            display: none;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            cursor: pointer;
            position: relative;

            &:hover{
                #bar, #bar::before, #bar::after{
                    box-shadow: 0 0 5px #fff, 0 0 5px #ccc;
                }
            }

            #bar {
                display: flex;
                width: 85%;
                height: 3px;
                background-color: white;
                border-radius: 1px;
                position: relative;
                transition: 0.2s;
            }
            
            #bar::before, #bar::after {
                display: flex;
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: white;
                border-radius: 1px;
                transition: 0.2s;
            }
            
            #bar::before {
                top: -13px;
            }
            
            #bar::after {
                top: 13px;
            }

            &.menu_open #bar{
                background-color: transparent;
                box-shadow: none;
            }

            &.menu_open #bar::before{
                top: 50%;
                transform: translate(-50%, -50%);
                transform: rotate(45deg);
            }

            &.menu_open #bar::after{
                top: 50%;
                transform: translate(-50%, -50%);
                transform: rotate(-45deg);
            }
        }

        ul{
            display: flex;
            justify-content: center;
            list-style-type: none;
            width: 60%;
            height: 100%;

            li{
                display: flex;

                a{
                    width: 100%;
                    height: 100%;
                    padding: 15px 20px;
                    text-align: center;
                    transition: .1s;

                    &:hover{
                        text-shadow:0 0 10px #fff, 0 0 10px #ccc;
                    }
                }
            }
        }
    }
}


body {
  background-color: #f5f1c7;
  font-family: "Roboto", sans-serif;
}
h1, h3, h5, hr{
    color: #4f3624;
}

a,
a:hover {
  text-decoration: none;
}

/*Carousel*/
.img-wrapper{
    max-width: 100%;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#imgCarousel{
    max-width: 100%;
    max-height: 100%;
}
/*Autores*/

#autores_famosos {
    text-align: center;
    padding: 20px;
}

.containerAutor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
}

.cardAutor {
    background: #e6f5c7; 
    border: 1px solid #88ac62; 
    border-radius: 10px; 
    width: 300px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease; 
    color: #445433;
    &:hover{
        transform: scale(1.05);
    }
}

.avatarAutor img {
    width: 100px;
    height: 100px;
    border-radius: 50%; 
    object-fit: cover; 
    margin-top: 10px;
}

.statsAutor h2 {
    margin: 10px 0;
    font-size: 1.5rem;
}

.statsAutor p, .statsAutor blockquote {
    margin: 5px 0;
}


@media screen and (min-width:576px){
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/3);
    }

    .img-wrapper{
        max-width: 100%;
        height: 23vw;
    }

    .carousel-inner{
        padding: 3px;
    }

    .card{
        margin: 0 .5em;
    }
}
/*Cards*/
.card-img-top{
    height: 27rem;
}
.card{
    margin: 10px;
    background-color:#dff5c7 ;
}
.card-body{
    color:#445433!important;
    & p{
        color:#445433!important;
    }
}
.btn-primary{
    background-color: #88ac62;
    border-color:#88ac62;
    &:hover{
        background-color:#6e8952;
        border-color:#6e8952;
    }
} 

/*Ikusi Liburua*/
#producto {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    padding: 20px;
    align-items: center; 
}

#portada img {
    width: 100%; 
    max-width: 300px; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


#texto {
    flex: 1; 
    min-width: 250px; 
    max-width: 600px; 
}

/* Boton */
.add-to-cart {
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    background-color: #6e8952;
}

#texto h2 a {
    text-decoration: none;
    color: #b09765;
}

#texto h2 a:hover {
    text-decoration: underline;
}

#texto p {
    margin: 10px 0;
}

@media (max-width: 768px) {
    #producto {
        flex-direction: column; 
        text-align: center; 
    }

    #portada img {
        margin: 0 auto;
    }

    #texto {
        text-align: center;
    }
}

/*Footer*/
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #88ac62;
    padding:15px 0;
    color: #323d25;
    p{
        margin-top:20px;
    }
    nav{
        display: flex;
        justify-content: center;
        width: 100%;

        ul{
            display: flex;

            li{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--bg-social-media);
                margin: 0 15px;
                border-radius: 50%;
                transition:.1s;

                &:hover{
                    box-shadow:0 0 10px #fff, 0 0 10px #ccc;
                }
    
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding:5px;
                    font-size: 25px;
                    width: 35px;
                    color:black;
                    text-decoration: none;
                }
        }
        
        }
    }
}

.logo_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;

    img{
        width:100px;
        transition: .3s;

        &.logo-sm{
            width: 40px;
        }
    }
}

.fa-brands{
    color: #323d25;
}

@media(width < 1024px){
    header{
        img{
            max-width: 300px;
        }
        nav{
            flex-direction: column;

            #hamburger_menu{
                display: flex;
            }

            ul{
                flex-direction: column;
                position: absolute;
                z-index: 1;
                left:0;
                top: 100%;
                background-color: var(--bg-header-menu-options);
                width: 100%;
                height: 0;

                &.menu_open{
                    height: auto;

                    li{
                        display: flex;
                    }
                }

                li{
                    display: none;

                    a{
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}

@media (width < 650px){
    footer{
        p{
            font-size: 12px;
        }
    }
}