body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9ecef;
}

.login-container {
    width: 860px; 
    height: 400px;
    padding: 30px;
    justify-items: center;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-20%);
}

@media (max-width: 992px) {
    .login-container {
        width: 550px; 
        padding: 25px; 
        height: auto; 
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    }
}


@media (max-width: 576px) {
    .login-container {
        width: 90%; 
        padding: 20px;
        height: 85vh; 
        max-height: 600px; 
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
