body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #6e8952; 
}

.login-container {
    position: relative; 
    width: 850px; 
    max-width: 90%; 
    padding: 40px; 
    background-color: #b09765; 
    border-radius: 15px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}

h1 {
    font-size: 2rem; 
    color: #231200; 
    text-align: center;
    margin-bottom: 1.5rem;
}

.back-arrow {
    position: absolute; 
    top: 15px; 
    left: 15px; 
    font-size: 1.5rem;
    color: rgb(47, 33, 33);
    text-decoration: none;
}

.back-arrow:hover {
    color: rgb(101, 79, 79);
}

@media (max-width: 768px) {
    .login-container {
        padding: 30px; 
    }
}

.input-group-text {
    background-color: #46533f; 
    color: white;
}

.form-control:focus {
    border-color: #6e8952;
    box-shadow: 0 0 0 0.25rem rgba(110, 137, 82, 0.5);
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: white;
}

.btn-primary:hover {
    background-color: #1b2d12;
    border-color: #4b6742;
}

.btn-primary {
    background-color: #4b6f24;
    border-color: #6e8952;
}

.btn-primary:hover {
    background-color: #1b2d12;
    border-color: #4b6742;
}

